<h3>you are on the rounds show page</h3>
<div class="question"><%= @card.question %></div><br>

<%= form_for([@round, @card], url: new_guess_path(@round, @card), method: 'post') do |f| %>

<!-- url is the action route! inspect the form to check if it matches! -->

  <%= f.text_field :answer, value: nil %><br><br>

  <%= f.submit "Submit Guess" %><br>

<% end %>